/* 
Colors
#e68105
#00584c
#a5a821
#fafafa
#0a0a0a

Color Combos Valid For Text
Orange & Black 
Blue & White
Green & Black
 */

/* ------------------------- Completed Projects Page Specifics ------------------------- */

 .topnav a /* Style the topnav links */
 {
   float: left;
   display: block;
   color: #03bfa6;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   background-color: #0a0a0a;
   height: 3em;
 }
 
 .topnav a:hover /* Change color on hover */
 {
   background-color: #00584c;
   color: #fafafa;
 }

 .Banner
{
  background-color: #00584c;
}

.ProjectBox
{
  border: 3px solid #fafafa;
  border-radius: 8px;
  margin: 40px;
}

.ProjectBox h3
{
  margin: 20px 20px 15px 20px;
  font-size: 30px;
}

.ProjectBox h4
{
  margin: 0px 20px 5px 20px;
  font-size: 23px;
}

.ProjectBox p
{
  margin: 10px 18px 18px 18px;
  line-height: 28px;
}

.imageWithDescription
{
  height: 250px;
  width: 200px;
  margin: 10px 0px 5px 20px;
  display: inline-block;
}

.imageWithDescription img
{
  border: 3px solid #fafafa;
  /* float: left; */
  height: 200px;
  width: 200px;
  margin: 0px;
}

.imageWithDescription p
{
  margin-top: 0px;
  font-size: 12px;
  text-align: center;
}