/* 
Colors
#e68105
#00584c
#a5a821
#fafafa
#0a0a0a

Color Combos Valid For Text
Orange & Black 
Blue & White
Green & Black
 */

/* ------------------------- Current Projects Page Specifics ------------------------- */

.topnav a /* Style the topnav links */
{
  float: left;
  display: block;
  color: #03bfa6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #0a0a0a;
  height: 3em;
}

.topnav a:hover /* Change color on hover */
{
  background-color: #00584c;
  color: #fafafa;
}

.Banner
{
  background-color: #00584c;
}

.ProjectBox
{
  border: 3px solid #fafafa;
  border-radius: 8px;
  margin: 40px;
}

.ProjectBox h3
{
  margin: 20px 20px 15px 20px;
  font-size: 30px;
}

.ProjectBox h4
{
  margin: 0px 20px 5px 20px;
  font-size: 23px;
}

.ProjectBox p
{
  margin: 10px 18px 18px 18px;
  line-height: 28px;
}

.progressBar
{
  background-color: #00584c;
  border: #fafafa solid 2px;
  margin: 10px 40px 10px 40px;
  height: 20px;
}

.MostRecentPost
{
  height: 300px;
  background-color: #00584c;
  border-bottom: solid 3px #fafafa;
  border-top: solid 3px #fafafa;
  padding: 5px;
}

.MostRecentPost p
{
  margin-top: 20px;
}

.MostRecentPost img
{
  height: 250px;
  /* width: 150px; */
  border: solid 3px #fafafa;
  margin: 20px;
  float: left;
}

.BlogPost
{
  background-color: #00584c;
  margin: 20px;
  display: inline-block;
  border-radius: 8px;
}

.BlogPost p
{
  font-size: 12px;
  margin: 0px 20px 0px 20px;
  
}

.BlogPost img
{
  height: 200px;
  /* width: 100px; */
  border: solid 3px #fafafa;
  margin: 20px 20px 0px 20px;

}

#tooLong
{
  width: 400px;
  height: 50px;
}