/* 
Colors
#e68105
#00584c
#a5a821
#fafafa
#0a0a0a

Color Combos Valid For Text
Orange & Black 
Blue & White
Green & Black
 */

* 
{
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

p 
{
  font: "Roboto 0", sans-serif;
} 

body 
{
  margin: 0;
  font-family: "Helvetica", sans-serif;
  color: #fafafa;
  background-color: #0a0a0a;
}

section
{
  
}

.topnav /* Style the top navigation bar */
{
  overflow: hidden;
  background-color: #0a0a0a;
}

.topnav a /* Style the topnav links */
{
  float: left;
  display: block;
  color: #a7a917;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #0a0a0a;
  height: 3em;
}

.topnav a:hover /* Change color on hover */
{
  background-color: #a7a917;
  color: #0a0a0a;
}

.content /* Style the top section where you see the image and text introducing the page */
{
  background-image: linear-gradient(#a7a917, #0a0a0a);
  color: #0a0a0a;
  padding: 20px;
  height: 400px; /* change to fit height of image */
  margin: 0px;
}

.footer  /* Style the footer */
{
  margin: 20px;
  background-color: #0a0a0a;
  padding: 10px;
}

/* ------------------------- Main Page Specific Items ------------------------- */

#introText
{
  font-size: 1.5em;
  padding-left: 20px;
}

.frontPageImage 
{
  position: relative;
  display: flex;
  float: right;
  width: 100%;
  /* height: 200px; */
}

.cirAndSqurs
{
  padding: 10%;
  background-color: #0a0a0a;
}

.itemInCirclesAndSquares
{
  padding: 20px;
  font-size: 30px;
  text-align: center;
  
}

.PersonlStatement
{
  background-color: #00584c;
  padding: 20px;
  border: 2px solid #fafafa;
  border-left: 0px;
  border-right: 0px;
}

.BottomImage
{
  margin-top: 30px;
  background-image: linear-gradient(#0a0a0a, #00584c, #1FB2A2); /* remove when image is in */
  height: 100px; /* Change to fit image height */
}