/* 
Colors
#e68105
#00584c
#a5a821
#fafafa
#0a0a0a

Color Combos Valid For Text
Orange & Black 
Blue & White
Green & Black
 */

* 
{
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

p 
{
  font: "Roboto 0", sans-serif;
} 

body 
{
  margin: 0;
  font-family: "Helvetica", sans-serif;
}

/* Style the top navigation bar */
.topnav 
{
  overflow: hidden;
  background-color: #0c0c0c;
}

/* Style the topnav links */
.topnav a 
{
  float: left;
  display: block;
  color: #a7a917;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover 
{
  background-color: #a7a917;
  color: #0c0c0c;
}

/* Style the content */
.content 
{
  background-color: #a7a917;
  padding: 20px;
  height: 200px; /* Should be removed. Only for demonstration */
  margin-bottom: 20%;
}

.frontPageImage 
{
  position: relative;
  display: flex;
  float: right;
  width: 200px;
  height: 200px;
  background-color: #2554aa;
}

.cirAndSqurs
{
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 10%;
  padding-right: 10%;
  
}

.itemInCirclesAndSquares
{
  padding: 20px;
  font-size: 30px;
  text-align: center;
  
}

/* Style the footer */
.footer 
{
  background-color: #f1f1f1;
  padding: 10px;
}

.grid-container 
      {
        display: grid;
        grid-template-columns: 5;
        grid-template-rows: 5;
        gap: 1px;
        width: 500px;
        height: 500px;
        border: 1px #bada55;
      }