/* 
Colors
#e68105
#00584c
#a5a821
#fafafa
#0a0a0a

Color Combos Valid For Text
Orange & Black 
Blue & White
Green & Black
 */

 /* ------------------------- Work & Experience Page Specifics ------------------------- */

 .topnav a /* Style the topnav links */
 {
   float: left;
   display: block;
   color: #a5a821;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   background-color: #0a0a0a;
   height: 3em;
 }
 
 .topnav a:hover /* Change color on hover */
 {
   background-color: #a5a821;
   color: #0a0a0a;
 }